$bg: #F4F5F9;
$bg2: #ffffff;

$titColor: #2B2E3D;
$titL2Color: #2B2E3D;
$txtColor: #2B2E3D;
$dataColor: #2C75E5; // 核心数据的颜色
$notesColor: rgba(0,0,0,.3);
$linkColor: #2B2E3D;
$errColor: red;

$divBg: #fff;
$divBorderColor: #fef8ef;
$divBoxShadow: rgba(0, 0, 0, 0.01) 0px 0px 1px, rgba(0, 0, 0, 0.04) 0px 4px 8px, rgba(0, 0, 0, 0.04) 0px 16px 24px, rgba(0, 0, 0, 0.01) 0px 24px 32px;
$divBoxShadowFocus: 0 8px 16px 0 rgba(135,123,255,0.08), 0 12px 56px 0 rgba(12,10,29,0.06);
$hrBg: rgba(0,0,0,.1);

$imgDivBg: #fff;

$inputBorder: #000;

$btnBgColor: #000;
$btnBg2: #fff;
$btnFontColor: #fff;
$btnOutlineColor: rgba(0, 0, 0, 0.5);
$btnBoxShadow1: rgb(226, 214, 207);
$btnBoxShadow2: rgb(247, 244, 242);

$tableSeparationColor: #222946;
